:root {
  --black: #151718;
  --white: #e2cca9;
  --lightwhite: #e6dac7;
  --grey0: #7c6f64;
  --grey1: #928374;
  --pink: #ffafff;
  --green: #c3e8a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 95%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
  color: var(--white);
  background-color: var(--black);
}

a {
  color: var(--lightwhite);
  text-decoration: none;
}

a:hover {
  background-color: var(--white);
  color: var(--black);
}

.blog-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.post-back {
  color: var(--grey1);
}


@media (max-width: 600px) {
  .blog-wrap { padding: 1rem; }
}
