#home {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sys-name {
  margin-bottom: 1rem;
  color: var(--pink);
}

.home-bio {
  margin-bottom: 1.5rem;
}

.home-bio a {
  color: var(--green);
}

.home-bio a:hover {
  background-color: var(--green);
  color: var(--black);
}

.home-links {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.4rem;
}

.home-links a {
  color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--green);
  font-size: 1.2rem;
  text-decoration: none;
}

.home-links a:hover {
  background-color: var(--green);
  color: var(--black);
}
